* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #71f386;
  /* color: white; */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  font-family: "Public Sans";
  overflow-x: hidden;
}

/* header and nav css */

.header {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 12vh;
  background-color: white;

  position: relative;
  z-index: 2;
}

.header-logo,
.navigation,
.cta {
  width: 33.3%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  /* position: relative;
  z-index: 2; */
}

/* .navigation {
  position: relative;
  z-index: 2;
} */

.gradient-button {
  background: linear-gradient(90deg, #2dd26d, #2cb9cc);
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

nav a {
  /* list-style: none; */
  text-decoration: none;
  padding-inline: 10px;
  color: #949498;
}

/* container css */

.container {
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.first-div,
.second-div,
.third-div {
  height: 88vh;
  width: 100%;
  /* border: 2px solid red; */
}

.first-div {
  display: flex;
  color: grey;
  background-color: #fafafa;
}

.child {
  height: 100%;
  width: 50%;
  /* border: 2px dotted red; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  background-color: #fafafa;
}

.left {
  display: flex;
  flex-direction: column;
}

.title-para h1 span,
.title-para p span {
  display: block;

  /* justify-content: center; */
}

.title-para span p {
  color: #a4a3a8;
  /* font-size: 15px; */
  padding-top: 15px;
  padding-bottom: 20px;
}

.title-para span p span {
  padding-block: 3px;
  font-weight: 500;
}

.main-title-span {
  color: #232438;
  font-size: 50px;
  font-weight: 400;
  padding-block: 5px;
}
.btn1 {
  /* justify-content: start; */
  display: flex;
  margin-right: 35%;
  align-items: flex-start;
}

.right {
  display: flex;
  position: relative;
}

.child img {
  height: 125%;
  object-fit: contain;
  position: absolute;
  /* margin-left: 165px; */
  /* margin-bottom: 165px; */
  /* object-fit: cover; */
  /* z-index: 1; */
  /* Lower z-index */
  /* position: relative;  */
  /* Ensure it has a position other than static */
}

.img-1 {
  margin-left: 185px;
  margin-bottom: 165px;
  position: absolute;
}

.img-2 {
  margin-left: 215px;
  position: relative;
  /* margin-top: 180px; */
}

/* second div */

.second-div {
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  color: #2e3046;
}
.text-content p span {
  font-size: 15px;
  display: block;
}
.text-content {
  padding-bottom: 50px;
  padding-left: 160px;
  /* width: 100%;
  max-width: calc(24% - 20px); */
}

.text-content p {
  margin-top: 20px;
}

.sub-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 20px; */
}

.card {
  background-color: #f4f5f7;
  border: none;
  width: 100%;
  max-width: calc(21% - 20px);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 12px;
  text-align: start;
  /* border: 2px solid red; */
}

.card img {
  width: 65px;
  margin-bottom: 20px;
}

/* .card h4 {
  margin-bottom: 15px;
} */

.card p {
  font-size: 14px;
  color: #777;
}

.card-title {
  font-size: 28px;
  /* margin-bottom: 30px; */
}

.card-text {
  margin-top: 20px;
}

/* third-div
 */

.third-div {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* flex-wrap: wrap;s */
  background-color: #fafafa;
  /* gap: 20px; */
}

/* .article-card {
  background-color: #f4f5f7;
  border: none;
  width: 100%;
  max-width: calc(21% - 20px);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 12px;
  text-align: start;
  border: 2px solid red;
  color: orangered;
} */

.article-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 2px solid firebrick; */
}

.article-card {
  background-color: #fff;
  /* border: 1px solid #e0e0e0; */
  border-radius: 10px;
  width: calc(21% - 20px);
  max-width: 230px;
  display: block;
  /* flex-direction: column; */
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-inline: 20px;
}

/* .article-title {
  font-size: 20px;
  color: black;
} */
.article-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

/* .article-text {
  font-size: 12px;
} */

.article-content {
  padding: 20px;
}

.article-author {
  color: #666;
  font-size: 9px;
  padding-bottom: 10px;
}

.article-text {
  padding-top: 10px;
  font-size: 11px;
  line-height: 1.5;
  color: #666;
}

/* .article-img {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
} */
.article-img img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-heading {
  font-size: 40px;
  color: #333;
  margin-bottom: 40px;
  display: flex;
  align-items: start;
  padding-left: 140px;
  /* text-align: start; */
}
/* Hover effect */
.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* footer */
.footer {
  height: 26vh;
  background-color: #2d314e;
}

.footer-container {
  display: flex;
  height: inherit;
  /* position: absolute; */
}

.footer-right,
.footer-left {
  width: 50%;
  height: 100%;
  display: flex;
  color: white;
  /* border: 2px solid aqua; */
}

.footer-left {
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.footer-right {
  /* text-align: end; */
  /* margin-inline-end: 10%; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 60%;
  height: 100%;
  /* border: 2px solid red; */
}
.footer-social img {
  padding-block: 5px;
  padding-inline: 5px;
}

.footer-lists {
  /* width: 50%; */
  /* height: 100%; */
  /* border: 2px solid orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: start; */
  /* padding: 10px; */
}

.footer-lists ul {
  /* align-items: start; */
  list-style-type: none;
  color: white;
  /* border: 1px solid red; */
}

footer p {
  color: rgb(196, 193, 193);
}

/* ul {
  list-style-type: none;
  color: white;
} */
.footer-lists ul li {
  margin-left: 100px;
  padding-block: 5px;
  /* text-align: end; */
}
